@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
/* Primary */
$primary-vio: hsl(263, 55%, 52%);
$primary-g-blue: hsl(217, 19%, 35%);
$primary-b-blue: hsl(219, 29%, 14%);
$primary-b-b: hsla(217, 30%, 14%, 0.219);

$primary-white: hsl(0, 0%, 100%);

/* Neutral */
$neutral-grey: hsl(0, 0%, 81%);
$neutral-g-blue: hsl(210, 46%, 95%);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
body{
    background: $neutral-g-blue;
}
.helloworld{
    display: grid;
    height: 90vh;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .set{
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px $primary-b-b;

        .name{
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
            position: relative;
        }
        h4{
            z-index: 1;
            position: relative;
            margin: 20px 0;
            font-size: 20px;
        }
        p{
            z-index: 1;
            position: relative;
            font-size: 16px;
            color: $neutral-grey;
        }
    }

    img{
        border-radius: 200px;
        width: 45px;
    }

    .daniel{
        background-color: $primary-vio;
        grid-column: 1/3;
        grid-row: 1/2;
        position: relative;
        color: white;

        .name{
            width: 165px;
        }

        .bg_quote{
            width: 200px;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(-50%);
        }
    }
    .jonathan{
        background-color: $primary-g-blue;
        grid-column: 3/4;
        grid-row: 1/2;
        color: white;

        .name{
            width: 185px;
        }

    }
    .jeanette{
        background-color: $primary-white;
        grid-column: 1/2;
        grid-row: 2/3;

        .name{
            width: 185px;
        }
    }
    .patrick{
        background-color: $primary-b-blue;
        grid-column: 2/4;
        grid-row: 2/3;
        color: white;

        .name{
            width: 185px;
        }
    }
    .kira{
        background-color: $primary-white;
        grid-column: 4/5;
        grid-row: 1/3;

        .name{
            width: 165px;
        }

    }
    
}
@media (max-width: 1111px){
    .helloworld{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .daniel{
            grid-column: 1/5;
            grid-row: 1/2;
        }
        .jonathan{
            grid-column: 1/5;
            grid-row: 2/3;
        }
        .jeanette{
            grid-column: 1/5;
            grid-row: 3/4;
        }
        .patrick{
            grid-column: 1/5;
            grid-row: 4/5;
        }
        .kira{
            grid-column: 1/5;
            grid-row: 5/6;
        }
    }
}